body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  display: block;
  padding-bottom: 2em;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  display: block;
  clear: both;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #0097a7;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input {
  padding: 5px;
  border: 1px solid #e0e0e0;
}

pre {
  display: block;
  color: #fafafa;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  padding: 10px;
}
.large-screen {
  display: block;
}

.small-screen {
  display: none;
}


.side-menu-toggle {
  display: none;
}

.side-menu {
  height: 100%;
  position: fixed;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  border-right: 1px solid #e0e0e0;
  z-index: 1;
  background-color: #fafafa;
  width: 240px;
  top: 0;
}

.side-menu .site-logo,
.side-menu .site-title,
.side-menu .site-search,
.side-menu .site-nav-items {
  padding: 6px 15px;
}

.side-menu .site-logo a {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 0;
  text-align: center;
}

.side-menu .site-title a {
  font-size: 25px;
  color: #616161;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  text-align: center;
  font-weight: 200;
}

.side-menu .site-search input {
  width: 100%;
  margin: 8px 0px;
}

.side-menu .site-search {
  border-bottom: 1px solid #e0e0e0;
}

.side-menu .site-nav-items {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
  margin-top: 2px;
}

.side-menu .site-nav-items ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

.side-menu .site-nav-items ul a {
  color: #424242;
  display: block;
}

.side-menu .site-nav-items li a:focus,
.side-menu .site-nav-items li a:hover,
.side-menu .site-nav-items li a:active {
  background: #eceff1;
}

.side-menu .site-nav-items > ul {
  margin-bottom: 15px;
  display: block;
  padding: 0;
  line-height: 1.6;
}

/** Category itself **/
.side-menu .site-nav-items > ul > li > a {
  color: black;
  font-weight: 400;
  padding-top: 8px;
  padding-left: -5px;
}

/** Content in a category **/
.side-menu .site-nav-items > ul > li > ul {
  padding-top: 3px;
}

.side-menu .site-nav-items > ul > li > ul > li > a {
  margin-top: 3px;
  font-weight: 300;
  padding-left: 15px;
}

main {
  margin-left: 240px;
  display: block;
  min-height: 100%;
}

article .article-banner {
  background: #4285f4;
  padding: 0px 48px 0px 48px;
}

article .article-banner h1 {
  padding: 60px 0px 30px 0px;
  margin: 0;
  color: #fafafa;
  font-weight: 300;
  font-size: 28px;
  text-rendering: optimizeLegibility;
  display: block;
  width: 100%;
  line-height: 1.3;
}

article .article-metadata {
  display: block;
  width: 100%;
}

article .article-metadata ul {
  list-style: none;
  padding: 15px 0 10px 0;
  margin: 0px 48px 0px 48px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

article .article-metadata ul > li {
  display: inline-block;
}

article .article-metadata ul > li+li:before {
  content: "•";
  font-weight: 300;
  margin: 0 8px;
}

article .article-metadata ul > li a {
  text-transform: uppercase;
}


article .article-content {
  margin: 14px 48px 14px 48px;
  padding: 0;
  max-width: 700px;
  font-weight: 400;
}

article .article-content #TableOfContents {
  font-weight: 200;
}

article .article-content h1 {
  border-bottom: 1px solid #212121;
  padding-bottom: 0.4em;
  font-size: 1.8em;
}

article .article-content h2 {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding-bottom: 12px;
}

article .article-content p {
  margin: 0;
  padding: 0;
}

article .article-content p + p {
  margin-top: 1em;
}

article .article-content h1 a,
article .article-content h2 a,
article .article-content h3 a,
article .article-content h4 a,
article .article-content h5 a {
  color: #212121;
}

.responsive-table {
  overflow-x: auto;
}

.responsive-table table {
  border-collapse: collapse;
  border: none;
}

.responsive-table table thead {
  border-bottom: 1px solid #d0d0d0;
  font-weight: 500;
}

.responsive-table table td,
.responsive-table table th {
  min-width: 10em;
  padding: 15px 5px;
  border-radius: 2px;
  vertical-align: middle;
  display: table-cell;
  border: none;

}

.responsive-table.bordered table > tbody > tr {
  border-bottom: 1px solid #d0d0d0;
}

.responsive-table.striped table > tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.taxonomy-article-list .article-summary a h4 {
  color: #212121;

}

