@media only screen and (max-device-width: 875px) {

.side-menu-toggle {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 3px 6px;
}

.side-menu-toggle:focus + .side-menu {
  visibility: visible;
  left: 0;
}

.side-menu-toggle + .side-menu {
  visibility: hidden;
  left: -240px;
}

.side-menu {
  width: 240px;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
  transition-timing-function: ease-in-out;
  left: -240px;
}

main {
  margin-left: 0px;
}

}
