<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />

    <link href="{{ .Site.BaseURL }}/css/theme.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CRoboto+Mono:400,300,500,700&amp;lang=en" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{ partial "nav.html" . }}
    <main>
