<a href="#" class="side-menu-toggle">menu</a>
<nav class="side-menu">
  {{if .Site.Params.Logo }}
  <div class="site-logo">
    <a href="/">
      <amp-img
        src="{{ .Site.BaseURL }}{{ .Site.Params.Logo.Src }}"
        title="{{ .Site.Title }}"
        layout="responsive"
        width="{{ .Site.Params.Logo.Width }}"
        height="{{ .Site.Params.Logo.Height }}"/>
    </a>
  </div>
  {{ end }}

  <div class="site-title">
    <a href="/">{{ .Site.Title }}</a>
  </div>

  <div class="site-search">
    TODO(bookman): Implement this
  </div>

  <div class="site-nav-items">
    <ul>
      {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
      <li>
        <a href="/#{{ $key }}">{{humanize $key}}</a>
        <ul>
          {{ range $taxonomy.Pages }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
