{{ partial "header.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">
  <div class="article-banner">
    <h1 itemprop="name">{{ .Title }}</h1>
  </div>
  <div class="article-metadata">
    <ul>
      <li><a href="/">VIEW SOURCE</a></li>
      <li><a href="/">EDIT THIS PAGE</a></li>
      <li><a href="/">SEND FEEDBACK</a></li>
      <li>
        <span>Updated</span>
        <time datetime="{{ $.Date }}" itemprop="datePublished">
          {{ .Date.Format .Site.Params.date_format }}
        </time>
      </li>
    </ul>
  </div>
  <div class="article-content" itemprop="articleBody">
    {{ .Content }}
  </div>
</article>

{{ partial "footer.html" . }}
