{{ partial "header.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">
  <div class="article-banner">
    <h1 itemprop="name">{{ .Title }}</h1>
  </div>
  <div class="article-metadata">
    <ul>
      <li>
      {{ if .Site.Params.Github }}
        <a
          href="https://{{ .Site.Params.Github }}/blob/master/content/{{ .File.Path }}"
          target="_blank">
          VIEW SOURCE
        </a>
      </li>
      <li>
        <a
          href="https://{{ .Site.Params.Github }}/edit/master/content/{{ .File.Path }}"
          target="_blank">
          EDIT THIS PAGE
        </a>
      </li>
      <li>
        <a
          href="https://{{ .Site.Params.Github }}/issues/new?title={{ "Feedback Reqeust " | urlize}}&body={{ .Permalink | urlize }}"
          target="_blank">
          SEND FEEDBACK
        </a>
      </li>
      {{ end }}
      <li>
        <span class="time-text">Updated</span>
        <time datetime="{{ $.Date }}" itemprop="datePublished">
          {{ .Date.Format .Site.Params.date_format }}
        </time>
      </li>
    </ul>
  </div>
  <div class="article-content" itemprop="articleBody">
    {{ .TableOfContents }}
    {{ .Content }}
  </div>
</article>

{{ partial "footer.html" . }}
